<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['N', 'Ciclos de clock (hardware)', 'Ciclos de clock (software)'],
          [ 171,  6729, 5],
          [ 381,  9052/6729, 10/5],
          [ 682,  12066/9052, 15/10],
          [ 1364, 16158/12066, 20/15]
        ]);

        var options = {
          title: 'Simulações do algoritmo de Huffman',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>
